#nav {
  .wrapper {
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    z-index: 1;
    top: 70px;
    left: 0;
    height: auto;
  }

  .activities-ul {
    display: flex;
    list-style-type: none;
    font-size: 11.5pt;
    font-weight: 400;
  }

  .activities-li {
    padding: 10px 25px;
  }

  .subheaders-ul {
    list-style-type: none;
  }

  .subheader-ul {
    display: flex;
    flex-direction: column;
    float: left;
    font-weight: 300;
    list-style-type: none;
    font-size: 11pt;
    font-weight: 300;
    margin: 30px 0;
  }

  .subheader-li {
    padding: 10px 25px;
  }

  .miscellaneous-ul {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d5d5d5;
    width: 180px;
    font-weight: 300;
    list-style-type: none;
    font-size: 11pt;
    font-weight: 300;
    margin: 30px 0;
    margin-left: 50px;
    float: left;
  }

  .miscellaneous-li {
    padding: 10px 25px;
  }

  .activities-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 80px;
    align-items: center;
    background-color: white;
  }

  .title {
    width: 110px;
    padding: 10px 40px;
    font-size: 11.5pt;
    font-weight: 400;
    letter-spacing: 1px;
    border-right: 1px solid #d5d5d5;
    margin: 8px 0;
    transform: scale(1, 0.9);
  }

  .nav {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: none;
    max-height: 70px;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 10.5pt;
    padding: 25px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  .nav-items {
    display: block;
    transform: scale(1, 1.02);
    padding-top: 8px;
    letter-spacing: 1px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    z-index: 2;
  }

  .account {
    display: flex;
    width: 180px;
    justify-content: space-between;
    margin-top: 10px;
  }

  .button1 {
    border: none;
    width: 85px;
    height: 24px;
    margin: 3px 0;
    margin-right: 10px;
    border-right: 1px solid #d5d5d5;
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: 11pt;
    background-color: #fafafa;
    padding: 0;
    padding-right: 15px;
  }

  .button2 {
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fafafa;
    padding: 0;
    margin: 0 10px;
  }

  .button3 {
    border: none;
    width: 30px;
    height: 30px;
    background-color: #fafafa;
    padding: 0;
    margin: 0 10px;
    transform: scale(1, 1.1);
    margin-top: -3px;
  }

  .border {
    color: #d22030;
    height: 4px;
    width: inherit;
    background-color: #d22030;
    transition: 0.5s;
  }
}
